/* About.css */

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.about-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 300px;
}

.about-card:hover {
  transform: translateY(-5px);
}

.about-content {
  padding: 20px;
}

.about-heading {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-description {
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.about-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.about-button:hover {
  background-color: #0056b3;
}

.about-image-container {
  overflow: hidden;
  height: 200px; /* Adjust the height as needed */
}

.about-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  transition: transform 0.3s ease;
}

.about-card:hover .about-image {
  transform: scale(1.1);
}
